<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<context:annotation-config />

	<bean name="company" class="com.codebyswamy.beans.Company">
	</bean>

	<bean name="employee1" class="com.codebyswamy.beans.Employee">
		<property name="name" value="SWAMY" />
		<property name="address" value="HYD" />
	</bean>
	
	<bean name="employee2" class="com.codebyswamy.beans.Employee">
		<property name="name" value="KRISHNA" />
		<property name="address" value="HYD" />
	</bean>
	
	<bean name="employee3" class="com.codebyswamy.beans.Employee">
		<property name="name" value="RAM" />
		<property name="address" value="HYD" />
	</bean>
	
	<bean name="employee4" class="com.codebyswamy.beans.Employee">
		<property name="name" value="SIMHA" />
		<property name="address" value="HYD" />
	</bean>
	
	

</beans>
