<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

		
	<!-- <bean name="employee" class="com.codebyswamy.beans.Employee"
	p:empId="100" p:empName="SWAMY.M" p:empSal="85000.00" /> -->
	
	
	<bean name="employee" class="com.codebyswamy.beans.Employee"
	c:empId="111" c:empName="VICTORY" c:empSal="9898.00" />

</beans>
